@model FlightBookingSystem.Models.SendEmailViewModel

@{
    ViewBag.Title = "Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Email</h2>

<body>
    @using (Html.BeginForm("Email", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 80px">To:</td>
                <td>@Html.TextBoxFor(m => m.ToEmail)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>Subject:</td>
                <td>@Html.TextBoxFor(m => m.Subject)</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td valign="top">Body:</td>
                <td>@Html.TextAreaFor(m => m.Contents, new { @rows = 10, @cols = 50 })</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>File Attachment:</td>
                <td><input type="file" name="Attachments" multiple="multiple" /></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
           
            <tr>
                <td>&nbsp;</td>
            </tr>
    
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Send" /></td>
            </tr>
        </table>
    }

</body>